/*記事*/
._kiji
{
    border: 3px solid black;
    margin: 20px 20px 20px 20px;
    font-size: 2.5em;
    padding: 20px 20px 20px 20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*記事タイトルと日付*/
._title_modified
{
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    padding-left: -20px;
    padding-right: -20px;
}
._title
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 600px;
    display: inline-block;
    margin-right: -40px;

}
/*日付*/
._modified
{
    float:right;
    font-size: 0.5em;
}
/*画像*/
._photo_text
{
    display:flex;
}

/*本文*/
._text
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin-left: 20px;
    font-size: 0.8em;
}
