table tbody tr td, table thead tr th {
    /*display: table-cell;*/
    table-layout: fixed;
}
.desc::after {
    content: ' \25bc'
}
.asc::after {
    content: ' \25b2'
}

html {
    height: auto;
}

p {
    word-wrap: break-word;
}
