/*
██   ██ ███████  █████  ██████  ███████ ██████      ███    ███ ███████ ███    ██ ██    ██      ██████ ███████ ███████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ████  ████ ██      ████   ██ ██    ██     ██      ██      ██
███████ █████   ███████ ██   ██ █████   ██████      ██ ████ ██ █████   ██ ██  ██ ██    ██     ██      ███████ ███████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ██  ██  ██ ██      ██  ██ ██ ██    ██     ██           ██      ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██     ██      ██ ███████ ██   ████  ██████       ██████ ███████ ███████
*/
/* 追従 */
.top-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
/* 「TOP」のホバーカラー */
.top-bar .title-area:hover {
    background-color: #308e97;
}
/* ページ名の表示調整 */
.top-bar-section h1 {
    display: inline-block;
    color: #fff;
    font-size: 1.3em;
    margin-left: 10px;
    line-height: 1.4em;
    margin-top: 8px;
}
