table tbody tr td, table thead tr th {
    /*display: table-cell;*/
    table-layout: fixed;
}


/*テーブルヘッド*/
.thead_id {
    width: 60px;
    /*text-align: center;*/
}
.thead_modified {
    width: 140px;
}
.thead_action {
    width: 90px;
}

/*記事*/
.manage_table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 2px;
}

.kiji, .kiji_id, .kiji_title, .kiji_modified, .kiji_actions {
    border-bottom: 1px solid #ddd;
}

.kiji {
    width: 100%;
}
/*no*/
.kiji_id {
    text-align: right;
    border-right: 2px dotted #ddd;
}
/*タイトル*/
.kiji_title {
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*投稿日時*/
.kiji_modified {

}
/*編集・削除ボタン*/
.kiji_actions {

}
