/*テーブルヘッド*/
.h_id
{
    table-layout: fixed;
    width: 10%;
}
.h_action
{
    table-layout: fixed;
    width: 15%;
}

/*記事*/
.kiji
{
    border: 3px solid black;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}
/*no*/
.kiji_id {
    table-layout: fixed;
    display: inline-block;
    width: 10%;

}
/*タイトル*/
.kiji_title
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*width: 100px;*/
    /*display: inline-block;*/
    margin-right: -40px;
}
/*投稿日時*/
.kiji_modified
{

}
/*編集・削除ボタン*/
.kiji_actions
{
    table-layout: fixed;
    display: inline-block;
    width: auto;

}
